{% extends 'veggie/base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}
    {% trans "Available Offers" %}
{% endblock %}

{% block content %}

{% if available_offers  %}
<br/>
<ul>
{% for offer in available_offers %}

<li><a href="{% url 'offerDetail' offer.id %}">{{ offer}}</a></li>

{% endfor %}
</ul>
<br/>
{% endif %}

<h3>{% trans "Links" %}</h3>
<a href="{% url 'order' %}">{% trans "Order Summary" %}</a>
<br/>

{% if not user.is_authenticated %}

<a href="/admin/login">{% trans "Login (Admin)" %}</a>
<br/>

{% else %}

<a href="/admin">{% trans "Administration interface" %}</a>
<br/>

{% endif %}

{% endblock %}
