{% extends 'veggie/base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}
    {% trans "Order Details" %}
{% endblock %}

{% block content %}

<a href="{% url "order" %}">{% trans "back" %}</a>
<br/>
<a href="{% url "downloadxls" orderdateid %}">{% trans "Download xls-file with confirmed orders" %}</a>

<table class="table table-striped">
<thead>
<tr><th>{% trans "Name" %}</th><th>{% trans "Telephone" %}</th><th>{% trans "Email" %}</th><th>{% trans "Status" %}</th><th>{% trans "Items" %}</th></tr>
</thead>
<tbody>
{% for order in orders %}
<tr>
<td>
{{order.surname}},
{{order.name}}
</td>
<td>
{{order.phone}}
</td>
<td>
{{order.email}}
</td>
<td>
{% if order.status %}
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
{% else %}
<a href="{% url "confirmOrder" order.confirmhash %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
{% endif %}
</td>
<td>
<table class="table table-striped">
<thead>
<tr><th>{% trans "Amount" %}</th><th>{% trans "Description" %}</th><th>{% trans "Price" %}</th><th>{% trans "Sum" %}</th></tr>
</thead>
<tbody>
{% for oi in order.orderitems %}
<tr>
<td>
{{ oi.amount }}
</td>
<td>
{{ oi.description }}
</td>
<td>
{{ oi.price }}
{{ oi.unitsize }}
</td>
<td>
{{ oi.itemsum }}
</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr><td colspan="3">{% trans "Sum" %}</td><td>{{order.ordersum}}</td></tr>
</tfoot>
</table>
</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
