{% extends 'veggie/base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}
    {% trans "Order Status" %}
{% endblock %}

{% block content %}

{% if order.order_confirmed %}

<span class="label label-success">
{% trans "Order confirmed" %}
</span>
<br/>
<br/>
<a href="{% url "cancelOrder" confirmhash %}">{% trans "Cancel Order" %}</a>

{% else %}

<span class="label label-danger">
{% trans "Order not confirmed" %}
</span>
<br/>
<br/>
<a href="{% url "confirmOrder" confirmhash %}">{% trans "Confirm Order" %}</a>

{% endif %}

<br/>
<h2>{% trans "Order Details" %}</h2>

<table>
<tr>
<td><b>{% trans "Name" %}</b></td><td>{{ order.order_name }} {{ order.order_surname }}</td>
</tr>
<tr>
<td><b>{% trans "Date" %}</b></td><td>{{ order.order_date.order_date }}</td>
</tr>
<tr>
<td><b>{% trans "Phone" %}</b></td><td>{{ order.order_phone }}</td>
</tr>
<tr>
<td><b>{% trans "Email" %}</b></td><td>{{ order.order_email }}</td>
</tr>
<tr>
<td><b>{% trans "Order confirmed" %}</b></td><td>{{ order.confirm_date }}</td>
</tr>
<tr>
<td><b>{% trans "Order cancelled" %}</b></td><td>{{ order.cancel_date }}</td>
</tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>

<table border="1">
<thead>
<tr><th>{% trans "Description" %}</th><th>{% trans "Price per unit" %}</th><th>{% trans "Amount" %}</th><th>{% trans "Sum" %}</th></tr>
</thead>
<tbody>
{% for item in items %}
<tr>
<td>{{ item.item.item_description }}</td>
<td>{{ item.item.item_price }}</td>
<td>{{ item.amount }}</td>
<td>{% widthratio item.item.item_price 1 item.amount %}</td>
</tr>
{% endfor %}
<tr>
<td colspan="3"><b>{% trans "Total Amount" %}</b></td><td>{{ sum }}</td>
</tr>
</tbod>
</table>

{% endblock %}
